 <!--FOOTER SECTION ICONOS ANIMADOS=======================================================================-->
    <footer id="footer" class="container-fluid justify-content-center text-center bg-info">
      <div class="row">
        <div class="col col-lg-6">
          <a href="#inicio">
            <i class="text-center col-12 d-lg-none d-block fa-brands fa-space-awesome fa-up  m-3 fa-2x" style="color: #ffffff;"></i></a>
            <h2 class="d-none d-lg-block">MIS REDES</h2>
        </div>
        <div class="col-12 col-lg-6">
          <a href="https://github.com/DiegoSilvaR" target="_blank"><i
              class=" fa-brands fa-square-github fa-up  m-2 fa-3x " style="color: #ffffff;"></i></a>
          <a href="https://www.linkedin.com/in/diego-s-37911841/" target="_blank"><i
              class="fa-brands fa-linkedin  fa-up m-2 fa-3x" style="color: #ffffff;"></i></a>
          <a href="https://twitter.com/Woruskas" target="_blank"><i class="fa-brands fa-square-twitter fa-up m-2 fa-3x"
              style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/Worusk" target="_blank"><i
              class="fa-brands fa-square-facebook fa-up m-2 fa-3x" style="color: #ffffff;"></i></a>
        </div>
      </div>
    </footer>
    <!--========================================================================================================-->
