 <div class="row">
        <h1 id="quienes" class=" pt-5 pb-3 ">PROYECTOS</h1>
        <hr>
        <div class="col-12 col-md-12 col-lg-12 col-xl-4 px-4" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" data-bs-title="Viaja con Nosotros">
          <button id="viajes" type="button" class="btn btn-info form-control my-3 pulse glow-on-hover">
           <a href="https://diegosilvar.github.io/Ricomida.github.io/" target="_blank">
           <i class="fa-sharp fa-solid fa-plane fa-3x " style="color: #ffffff;"></i></a>
            </button>
          <h1>RICOMIDA</h1>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-4 px-4">
         <h1>VIAJES CHILE</h1>
          <button id="lugar" type="button" class="btn btn-info form-control my-3 pulse glow-on-hover"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
            data-bs-title="Conoce los mejores lugares!">
            <a href="https://diegosilvar.github.io/Viajes_Chile.github.io/" target="_blank">
            <i class="fa-solid fa-mountain fa-3x " style="color: #ffffff;"></i></a></button>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-4 px-4">
          <button id="mapas" type="button" class="btn btn-info form-control my-3 pulse glow-on-hover"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
            data-bs-title="Nuestras Rutas y guias Turisticas">
            <i class="fa-solid fa-route fa-3x " style="color: #ffffff;"></i>
          </button>
         <h1>OTROS</h1>
        </div>
      </div>
